#### PROJECT GOAL
##### The goal of the project is to design and implement an interactive Power BI dashboard that provides insights into Amazon's e-commerce business by analyzing Key Performance Metrics, such as sales trends, customer demographics and product performance.

##### By leveraging Python (NumPy, Pandas) for data preprocessing and Power BI for visualization, we aim to: ‚úî Track Amazon‚Äôs sales performance (revenue, order trends, fulfillment status) üìä

##### ‚úî Analyze customer buying behavior (demographics, purchasing patterns, regions) üõí
##### ‚úî Evaluate product performance (top-selling items, ratings, reviews, discounts) üì¶
##### ‚úî Assess marketing impact (pricing strategies, promotions, and traffic sources) üí∞

##### This project will enable businesses and decision-makers to monitor e-commerce performance, optimize product offerings, and improve customer engagement through real-time data-driven insights. üöÄ

In [75]:
#Importing necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
# Loading necessary datasets
Amazon1 = "AMAZON DATA 1.xlsx"
Amazon2 = "AMAZON DATA 2.xlsx"
Amazon3 = "AMAZON DATA 3.xlsx"

# Reading of the datasets
Amazon1 = pd.read_excel(Amazon1)
Amazon2 = pd.read_excel(Amazon2)
Amazon3 = pd.read_excel(Amazon3)

# Checking the first 5 rows of the datasets
Amazon1.head()

,Order Date,Purchase Price Per Unit,Quantity,Shipping Address State,Title,ASIN/ISBN (Product Code),Category,Survey ResponseID
0,2018-12-04,7.98,1,NJ,SanDisk Ultra 16GB Class 10 SDHC UHS-I Memory ...,B0143RTB1E,FLASH_MEMORY,R_01vNIayewjIIKMF
1,2018-12-22,13.99,1,NJ,Betron BS10 Earphones Wired Headphones in Ear ...,B01MA1MJ6H,HEADPHONES,R_01vNIayewjIIKMF
2,2018-12-24,8.99,1,NJ,NaN,B078JZTFN3,NaN,R_01vNIayewjIIKMF
3,2018-12-25,10.45,1,NJ,Perfecto Stainless Steel Shaving Bowl. Durable...,B06XWF9HML,DISHWARE_BOWL,R_01vNIayewjIIKMF
4,2018-12-25,10.00,1,NJ,Proraso Shaving Cream for Men,B00837ZOI0,SHAVING_AGENT,R_01vNIayewjIIKMF

In [77]:
Amazon2.head()

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,√¢‚Äö¬π399,"√¢‚Äö¬π1,099",0.64,4.2,24269,High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,√¢‚Äö¬π199,√¢‚Äö¬π349,0.43,4,43994,"Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,√¢‚Äö¬π199,"√¢‚Äö¬π1,899",0.90,3.9,7928,√£‚Ç¨¬ê Fast Charger& Data Sync√£‚Ç¨‚Äò-With built-in s...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories|Accessories&Peripherals|...,√¢‚Äö¬π329,√¢‚Äö¬π699,0.53,4.2,94363,The boAt Deuce USB 300 2 in 1 cable is compati...,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories|Accessories&Peripherals|...,√¢‚Äö¬π154,√¢‚Äö¬π399,0.61,4.2,16905,[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

In [78]:
Amazon3.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,0,405-8078784-5731545,22/04/30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,Not Shipped,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,No Promotion,False
1,1,171-9198151-1101146,22/04/30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
2,2,404-0687676-7273146,22/04/30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,3,403-9615377-8133951,22/04/30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,Not Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,No Promotion,False
4,4,407-1069790-7240320,22/04/30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,No Promotion,False

In [79]:
# Looking at the shape of the datasets
print(Amazon1.shape)
print(Amazon2.shape)
print(Amazon3.shape)

(1048575, 8)
(1465, 16)
(128975, 22)

In [80]:
# Checking for the column names in tabular format
def display_columns(Amazon1, df):
    print(f"\nüîπ {Amazon1} Columns:\n")
    print(pd.DataFrame(df.columns, columns=["Column Name"]))

display_columns("Amazon1", Amazon1)

üîπ Amazon1 Columns:

                Column Name
0                Order Date
1   Purchase Price Per Unit
2                  Quantity
3    Shipping Address State
4                     Title
5  ASIN/ISBN (Product Code)
6                  Category
7         Survey ResponseID

In [81]:
def display_columns(Amazon2, df):
    print(f"\nüîπ {Amazon2} Columns:\n")
    print(pd.DataFrame(df.columns, columns=["Column Name"]))

display_columns("Amazon2", Amazon2)

üîπ Amazon2 Columns:

            Column Name
0            product_id
1          product_name
2              category
3      discounted_price
4          actual_price
5   discount_percentage
6                rating
7          rating_count
8         about_product
9               user_id
10            user_name
11            review_id
12         review_title
13       review_content
14             img_link
15         product_link

In [82]:
def display_columns(Amazon3, df):
    print(f"\nüîπ {Amazon3} Columns:\n")
    print(pd.DataFrame(df.columns, columns=["Column Name"]))

display_columns("Amazon3", Amazon3)

üîπ Amazon3 Columns:

           Column Name
0                index
1             Order ID
2                 Date
3               Status
4           Fulfilment
5        Sales Channel
6   ship-service-level
7                Style
8                  SKU
9             Category
10                Size
11                ASIN
12      Courier Status
13                 Qty
14            currency
15              Amount
16           ship-city
17          ship-state
18    ship-postal-code
19        ship-country
20       promotion-ids
21                 B2B

In [83]:
# Checking for the datatypes of the columns
Amazon1.dtypes

Order Date                  datetime64[ns]
Purchase Price Per Unit            float64
Quantity                             int64
Shipping Address State              object
Title                               object
ASIN/ISBN (Product Code)            object
Category                            object
Survey ResponseID                   object
dtype: object

In [84]:
Amazon2.dtypes

product_id              object
product_name            object
category                object
discounted_price        object
actual_price            object
discount_percentage    float64
rating                  object
rating_count            object
about_product           object
user_id                 object
user_name               object
review_id               object
review_title            object
review_content          object
img_link                object
product_link            object
dtype: object

In [85]:
Amazon3.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code        int64
ship-country           object
promotion-ids          object
B2B                      bool
dtype: object

##### Data Cleaning: We will handle dataset  by dataset until we clean all of them.

In [86]:
# Checking for missing values in the first dataset
Amazon1.isnull().sum()

Order Date                      0
Purchase Price Per Unit         0
Quantity                        0
Shipping Address State      51095
Title                       51521
ASIN/ISBN (Product Code)      608
Category                    50809
Survey ResponseID               0
dtype: int64

In [87]:
# Dropping the missing values in the amazon1 dataset ASIN column
Amazon1 = Amazon1.dropna(subset=["ASIN/ISBN (Product Code)"])
Amazon1.isnull().sum()

Order Date                      0
Purchase Price Per Unit         0
Quantity                        0
Shipping Address State      50775
Title                       51202
ASIN/ISBN (Product Code)        0
Category                    50773
Survey ResponseID               0
dtype: int64

In [88]:
print(Amazon1["Shipping Address State"].isnull().sum(), "out of", len(Amazon1))

50775 out of 1047967

In [89]:
# Use .loc[] to avoid SettingWithCopyWarning
Amazon1.loc[:, "Shipping Address State"] = Amazon1["Shipping Address State"].bfill().ffill()

# Check if missing values are filled
print(Amazon1["Shipping Address State"].isnull().sum())  # Should be 0

0

In [90]:
Amazon1.isnull().sum()

Order Date                      0
Purchase Price Per Unit         0
Quantity                        0
Shipping Address State          0
Title                       51202
ASIN/ISBN (Product Code)        0
Category                    50773
Survey ResponseID               0
dtype: int64

In [91]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [92]:
# Create mapping dictionaries for ASIN ‚Üí Title & Category (only for non-null values)
asin_to_title = Amazon1.dropna(subset=["Title"]).set_index("ASIN/ISBN (Product Code)")["Title"].to_dict()
asin_to_category = Amazon1.dropna(subset=["Category"]).set_index("ASIN/ISBN (Product Code)")["Category"].to_dict()

# Fill missing values using the mapping dictionaries
Amazon1["Title"] = Amazon1["Title"].fillna(Amazon1["ASIN/ISBN (Product Code)"].map(asin_to_title))
Amazon1["Category"] = Amazon1["Category"].fillna(Amazon1["ASIN/ISBN (Product Code)"].map(asin_to_category))

# Fill any remaining missing values with defaults
Amazon1["Title"].fillna("Unknown Product", inplace=True)
Amazon1["Category"].fillna("Uncategorized", inplace=True)

# Check if missing values are filled
Amazon1.isnull().sum()

Order Date                  0
Purchase Price Per Unit     0
Quantity                    0
Shipping Address State      0
Title                       0
ASIN/ISBN (Product Code)    0
Category                    0
Survey ResponseID           0
dtype: int64

In [93]:
# Checking for missing values in the second dataset
Amazon2.isnull().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [94]:
# Dropping the missing values in the rating count column
Amazon2 = Amazon2.dropna(subset=["rating_count"])

In [95]:
import re

# Convert Rating to float
Amazon2["rating"] = pd.to_numeric(Amazon2["rating"], errors="coerce")

# Function to extract numerical price & retain currency
def extract_price(value):
    match = re.search(r"([\D]+)?([\d,]+)", str(value))  # Capture currency & number separately
    if match:
        currency = match.group(1).strip() if match.group(1) else "Unknown"  # Extract currency (‚Çπ or $)
        price = match.group(2).replace(",", "")  # Remove commas
        return pd.Series([currency, float(price)])
    return pd.Series(["Unknown", None])  # Default if no match

# Apply function to extract price & currency for both price columns
Amazon2[["currency", "discounted_price"]] = Amazon2["discounted_price"].apply(extract_price)
Amazon2[["currency_actual", "actual_price"]] = Amazon2["actual_price"].apply(extract_price)

# Convert Prices to Float
Amazon2["discounted_price"] = pd.to_numeric(Amazon2["discounted_price"], errors="coerce")
Amazon2["actual_price"] = pd.to_numeric(Amazon2["actual_price"], errors="coerce")

# Check if missing values are filled
Amazon2.isnull().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 1
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
currency               0
currency_actual        0
dtype: int64

In [96]:
Amazon2.dtypes

product_id              object
product_name            object
category                object
discounted_price       float64
actual_price           float64
discount_percentage    float64
rating                 float64
rating_count            object
about_product           object
user_id                 object
user_name               object
review_id               object
review_title            object
review_content          object
img_link                object
product_link            object
currency                object
currency_actual         object
dtype: object